@font-face {
    font-family: DMSans-B;
    src: url('../fonts/DMSans-Bold.otf');
}

@font-face {
    font-family: DMSans-M;
    src: url('../fonts/DMSans-Medium.otf');
}

@font-face {
    font-family: DMSans-R;
    src: url('../fonts/DMSans-Regular.otf');
}

@font-face {
    font-family: Noto-Black;
    src: url('../fonts/NotoSansTC-Black.otf');
}

@font-face {
    font-family: Noto-Bold;
    src: url('../fonts/NotoSansTC-Bold.otf');
}

@font-face {
    font-family: Noto-Medium;
    src: url('../fonts/NotoSansTC-Medium.otf');
}

@font-face {
    font-family: Noto-Regular;
    src: url('../fonts/NotoSansTC-Regular.otf');
}

@font-face {
    font-family: Noto-Black;
    src: url('../fonts/NotoSans-Black.otf');
}

@font-face {
    font-family: Xxx;
    src: url('../fonts/XXIX.otf');
}

/*log in page css*/
.login-body {
    background-image: url("../images/login/BG.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.login-logo {
    margin-top: 25%;
}

.login-heading {
    font-family: Xxx, sans-serif;
    color: #ffffff;
    font-size: 41px;
}

.login-form {
    margin: 0 35px;
}

.login-form input {
    border: 2px solid #b6c2c9;
    border-radius: 18px;
    background-image: url(../images/login/rectangular.webp);
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: DMSans-R, sans-serif;
    padding: 10px;
    font-size: 11px;
}

.login-form input::placeholder {
    color: #ffffff;
    font-family: DMSans-R, sans-serif;
    font-size: 11px;
}

.forget-pass {
    font-size: 13px;
    color: #3e2b8f;
    font-family: DMSans-R, sans-serif;
}

.horizontal-lines {
    display: flex;
    align-items: center;
}

.line {
    flex: 1;
    height: 1px;
    background-color: #ffffff; /* Set the color of the horizontal lines */
}

.or-text {
    margin: 0 10px; /* Adjust the spacing between "or" and the lines */
}


/*home page style*/
.home-body {
    background-image: url("../images/homepage/main-bg.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 100%;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-image: url("../images/homepage/navbar-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 999;
}

.icon {
    flex: 1;
    text-align: center;
    padding: 10px;
    margin-top: 25px;
}

.icon i {
    font-size: 25px;
    color: #97c8d7;
}

.center-icon {
    flex: 2;
    text-align: center;
    padding: 0;
}

.center-icon img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.head-banner {
    background-color: #ffffff;
}

.grab-btn {
    background-image: url("../images/homepage/grab-button.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 120px;
    height: 80px;
}

.home-text-section {
    padding: 20px;
    background-image: url("../images/homepage/rectangular.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: DMSans-R, sans-serif;
    border-radius: 30px;
}

.home-text-section h2 {
    font-family: XXIX, sans-serif;
    color: #5d4ba8;
    padding: 0 20px;
    background: #f27843;
    border-radius: 20px;
}

.home-text-section p {
    padding-left: 20px;
    color: #5d4ba8;
    font-size: 15px;
}

.before-footer {
    height: 100px;
}


/*intro page css*/
.intro-header {
    background-image: url("../images/membership/button.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.intro-header h2 {
    padding: 4px;
    font-family: XXIX, sans-serif;
    margin-top: 0.5rem;
    color: #5d4ba8;
}

.intro-text-section {
    background-image: url("../images/intro/content-bg.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 30px;
}

.intro-text-section h4 {
    font-family: XXIX, sans-serif;
    color: #5d4ba8;
}

.intro-text-section p {
    color: #5d4ba8;
    font-family: DMSans-B, sans-serif;
    font-weight: 700;
}


/*membership page*/
.membership-section {
    background-image: url("../images/intro/content-bg.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 30px;
}

.membership-section a {
    text-decoration: underline;
    color: #ffffff;
    font-family: DMSans-B, sans-serif;
}

#chart {
    height: 280px;
    width: 280px;
    margin-left: -20px;
}

.second-section {
    background: #7e67f7;
    margin: -50px 5px 0 5px;
    padding: 25px 0;
    border-radius: 30px;
}

.second-section p{
    font-family: DMSans-M, sans-serif;
    color: #ffffff;
    font-size: 15px;
}

.second-section h4{
    font-family: XXIX, sans-serif;
    color: #ffb178;
    font-size: 18px;
}

.badge{
    border: 1px solid #ffffff;
    border-radius: 10px;
    font-size: 8px;
}

.membership-title{
    background-image: url("../images/membership/rounded01.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.membership-title h4{
    font-family: XXIX, sans-serif;
    color: #ffffff;
    margin-bottom: 0;
    padding: 10px;
}

.description{
    color: #5d4ba8;
    font-family: DMSans-M, sans-serif;
}

.side-section{
    bottom: -80px;
    position: relative;
    font-family: DMSans-M, sans-serif;
    margin-right: -10px;
}

.price-section{
    background-image: url("../images/price/bg.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card1{
    background-image: url("../images/price/btn.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent !important;
    border: none !important;
}

.price-quantity{
    font-family: Noto-Bold, sans-serif;
    color: #370256;
    font-size: 35px;
    margin-left: 70px;
    margin-top: 20px;
}

.price-details{
    font-family: Noto-Black, sans-serif;
    color: #a916ff;
    font-size: 23px;
    padding-left: 27px
}